<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link href="/public/css/main.css" rel="stylesheet">
		<title>{{title}}</title>
	</head>
	<body>
		<header>
			{{title}}
		</header>
		<div id="container">
			{{{body}}}
		</div>
		<footer>
			© Some Nerds 2016
		</footer>
		{{#if script}}
			<script src="/public/js/{{script}}.js"></script>
		{{/if}}
	</body>
</html>
