<div id="main">
	<div class="note" id="noteN0">
		<span class="notetext">Hi again</span>
	</div>
	<div class="note" id="noteN1">
		<span class="notetext">Lorem ipsum dolor sit amet, ex eum tollit veritus, mea ex posse ceteros suscipit, ne vel labitur salutandi. Pro et postulant temporibus dissentiunt, copiosae delectus scripserit usu ei, magna partiendo quo no. Mei autem rationibus id, qui amet offendit periculis ea. Munere luptatum recteque ad eos, te pri commodo adipisci honestatis, corpora lobortis ullamcorper ad nec. Te nisl detracto definiebas has, et eros quas constituto his, eum ad dicat possit equidem. Ea pri eros perfecto dignissim, ex has intellegat voluptaria scribentur.</span>
	</div>
	<div class="note" id="noteN2">
		<span class="notetext">I'm also a note</span>
	</div>
	<div class="note" id="noteN3">
		<span class="notetext">I'm a note</span>
	</div>
	<div class="note" id="noteN4">
		<span class="notetext">Hi</span>
	</div>
</div>