<p> Login Page </p>
<br>
<form id="login-form" action="/login" method="post">
    <label for="email">Email Address:</label>
    <br/>
    <input id="email" type="text" name="sf_email_address"><br>
    <label for="password">Password:</label>
    <br/>
    <input id="password" type="password" name="password"><br>
    <input id="login-button" type="submit" value="Login">
</form>
