<p> SignUp Page </p>
<br>
<form id="signup-form" action="/signup" method="post">
    <label for="email">Email Address:</label>
    <br/>
    <input id="email" type="text" name="sf_email_address"><br>
    <label for="password">Password:</label>
    <br/>
    <input id="password" type="password" name="password"><br>
    <label for="confirm-password">Confirm Password:</label>
    <br/>
    <input id="confirm-password" type="confirm-password" name="confirm-password"><br>
    <input id="signin-button" type="submit" value="Sign In">
</form>