<div align="center">
	<div class="bigLabel2">Sign Up</div>
	<form id="signup-form" action="/signup" method="post">
		<label for="email" class="bigLabel">Email Address:</label>
		<br/>
		<input id="email" class="bigInput" type="text" name="sf_email_address"><br>
		<label for="password" class="bigLabel">Password:</label>
		<br/>
		<input id="password" class="bigInput" type="password" name="password"><br>
		<label for="confirm-password" class="bigLabel">Confirm Password:</label>
		<br/>
		<input id="confirm-password" class="bigInput" type="password" name="confirm-password"><br>
		<input id="signin-button" type="submit" value="Register" class="bigButton">
	</form>
</div>