body
{
	background: #ddd;
	color: #444;
	font-family: Arial;
}

header
{
	background: #0ad;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 64px;
	font-size: 48px;
	line-height: 64px;
	color: #fff;
	border-bottom: 4px solid #08b;
	z-index: 999999999;
	padding: 0px 0px 0px 16px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
}

footer
{
	background: #007ba7;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 32px;
	text-align: center;
	font-size: 24px;
	line-height: 32px;
	color: #fff;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
}

.bigLabel
{
	display: block;
	margin-top: 32px;
	font-size: 32px;
}

.bigLabel2
{
	margin-top: 32px;
	font-size: 64px;
}

.bigButton
{
	font-size: 24px;
	margin-top: 32px;
	width: 256px;
	height: 40px;
	background: #eee;
	border: none;
	box-shadow: -2px 2px 2px 2px #999;
	transition: 0.1s;
	cursor: pointer;
}

.bigButton:hover
{
	background: #fff;
	box-shadow: -4px 6px 3px 3px #aaa;
	transform: translate(0px, -6px);
}

.bigButton:active
{
	background: #eee;
	box-shadow: -4px 6px 3px 3px #aaa;
	transform: translate(0px, -4px);
	padding: 0;
	outline: none;
}

.bigInput
{
	width: 480px;
	height: 40px;
	vertical-align: middle;
	border: none;
	font-size: 28px;
	background-color: #fff;
	box-shadow: -2px 2px 2px 2px #999;
	padding-left: 16px;
	padding-right: 16px;
}

#noteInput
{
	position: fixed;
	left: calc(50vw - 256px);
	z-index: 999999999;
}

#container
{
	position: absolute;
	top: 68px;
	bottom: 32px;
	left: 0;
	right: 0;
	overflow: auto;
	box-shadow: 0px 0px 4px 4px #bbb inset;
	z-index: -9999999999;
}

#main
{
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -9999999999;
}

.note
{
	position: absolute;
	background: #fff;
	box-shadow: -4px 4px 4px 4px #999;
	width: 224px;
	min-height: 224px;
	padding: 16px;
	margin: 32px;
	margin-top: 16px;
	cursor: move;
}

.note .notetext
{
	cursor: text;
}